/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2015, 1:03:37 PM
    Author     : davidchang
*/

mymodal{
    color:black;
}
input{
    color:black;
}
.ui-datepicker{
    z-index:1151 !important;
}
nav input#loginuser{
    border:none;
    border-color: transparent;
    width: 100px;
}
nav input#name, input#password{
    width:100px;
}
h4{
    color:black;
}

html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 600px;
    height: 600px;
}
.swiper-slide {
    width:600px;
    height:600px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.floorplan{
    height:600px;
    width:600px;
    max-height: 600px;
    max-width: 600px;
}
.floorplan-title{
    position:absolute;
    top:10px;
    left:10px;
}
input#fullcalendarHead{
    font-size: 2em;
    background:none;
    color: black;
    border: none;
    width: 7em;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

div.roomInFloor{
    position:absolute; 
    top:200px; 
    left:200px; 
    //background-color: rgba(255, 255, 0, 0.5);
    color:rgba(0,0,0,1);
    border: solid;
    border-width: 2px;
    border-color: red;
    font-size: 0.8em;
}
div.roomInFloor span{
    font-size: 1em;
    color: rgba(0,0,0,1);
}
div.footprint{
    position:absolute; 
}
div.draggable{
    border: solid;
    border-width: 2px;
    font-size: 1em;
}
div.resizable{

}
div.tool{
    text-align: center;
    height:50px;
    width:50px;
    z-index: 1000;
}

//bootstrp 3 modal z-index = 1040
div#oneDayCalendar{
    z-index: 1600;
}
div#roomInfoHead{
    min-height: 50px;
}

div.fc-center h2{
    font-size: 2em;
}
div.fc-content{
    text-align:center;
}
div.fc-time span:first-child{
    display:none;
}
div.fc-event-time{
    display:none;
}
.fc-title{
    font-size: 1.2em;
}

