<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>example pairs</comment>
<entry key="MOTD">Hello, world!</entry>
<entry key="FAVOURITE_FRUIT">Mango</entry>
<entry key="THE_COW_SAYS">The cow says %s</entry>

<entry key="DB_URL">jdbc:mysql://localhost:3306/bluevilla?characterEncoding=UTF-8</entry>
<entry key="DRIVER_MANAGER">com.mysql.jdbc.Driver</entry>
<entry key="USER">bluevilla</entry>
<entry key="PASS">b850ff55e2924c934a5206140975d94f</entry>
</properties>