/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 30, 2015, 9:15:09 AM
    Author     : davidchang
*/

.nhr{
    padding:3px;
    color:black;
    background: rgba(10,10,80,0.8);
    border:orange solid 4px;
    border-radius: 20px;
    float:left;
    cursor: pointer;
}

.nhr.on{
    color:greenyellow;
}
.nhr.off{
    color:crimson;
}
.nhr.up{
    color:greenyellow;
}
.nhr.hold{
    color:greenyellow;
}
.nhr.down{
    color:greenyellow;
}
.nhr.sensor{
    color:aqua;
}
.nhr>div{
    float:left;
}
.nhr .info{
    display:block;
}
.nhr .devID{
    display:none;
}
.nhr {
    text-align: center;
}
.nhr ul{
    list-style: none;
    padding: 1px;
    margin: 0;
    font-size: 12px;
}
.nhr span{
    color: black;
}
.nhr.small{
    transform: "scale(0.5, 0.5)";
}
.nhr.small ul{
    display:none;
}

.title a{
    font-size: 20px;
    font-weight: bold;
    color:white;
}
#device_table{
    margin-top:50px;
    font-size: 20px;

}
li a{
    font-size: 16px;
}